
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,700;1,6..12,300;1,6..12,500&family=Poppins:wght@100;300;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
